a {
	text-decoration: none !important;
}

.panel.panel-default , .btn {
	border-radius:0;
}


.app-panel {
	position:fixed;
	right: -50%;
	top:22.5%;
	z-index: 999;
}

@media only screen and (max-width: 1400px) {
	.app-panel {top:8%;}
}


#app-btn {
	position: absolute;
	right: 100%;
	top: 50%;
	z-index: 999;
	background-color: #f5f5f5;
	border: none;
}

.transition {
	-webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}


.open {
	transform:translateX(-100%);
}

.closed {
	transform:translateX(0px);
}

.rotate {
	transform:rotateZ(180deg);
}
.container {
	width: 80%;
}

.container-app {
	width: 50%;
}

.container-inner {
	margin:0 auto;
	padding:30px 60px;
}

.row {
	padding-bottom: 30px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.close {
	position: absolute;
}

/* TABLE CSS */

table input {
	width:30px;
	height: auto;
}